<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mohammadag.googlesearchmusiccontrols"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="com.mohammadag.googlesearchapi.permission.ACCESS_GGOGLE_SEARCH_API" />

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.mohammadag.googlesearchmusiccontrols.MainActivity"
            android:label="@string/app_name" >
        </activity>

        <activity-alias
            android:name="com.mohammadag.googlesearchmusiccontrols.MainActivity-Alias"
            android:label="@string/app_name"
            android:targetActivity="com.mohammadag.googlesearchmusiccontrols.MainActivity" >
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity-alias>

        <receiver android:name="com.mohammadag.googlesearchmusiccontrols.GoogleSearchReceiver" >
            <intent-filter>
                <action android:name="com.mohammadag.googlesearchapi.NEW_SEARCH" />
            </intent-filter>
        </receiver>
    </application>

</manifest>